# ==========================================
# ARQUIVOS E PASTAS QUE O GIT DEVE IGNORAR
# ==========================================

# 1. Ambientes Virtuais (Venv)
# Nao devem subir para o Git porque contem arquivos binarios especificos de cada computador
venv/
env/
.env
ENV/

# 2. Arquivos temporarios do Python (Bytecode)
# Sao criados automaticamente pelo Python ao executar o codigo
__pycache__/
*.py[cod]
*$py.class
*.so

# 3. Banco de Dados Local (SQLite)
# Ignoramos o arquivo do banco para evitar conflitos de merge entre os membros da equipe.
# Cada um pode gerar seu proprio banco usando: python manage.py migrate
db.sqlite3
db.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal

# 4. Arquivos da Maquina Virtual (Vagrant)
# Pasta gerada pelo Vagrant para controlar a VM localmente no seu computador
.vagrant/

# 5. Arquivos de configuracao de editores (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.swp
pyrefly.toml
pyrightconfig.json

# 6. Arquivos do sistema operacional (Windows e Mac)
.DS_Store
Thumbs.db
desktop.ini

# 7. Arquivos de logs
*.log
